.container{
    display:  flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding-top: 100px;
}
.left-container{
    width: 50%;    
    background-image: url(../asest/firstbg.png) ;
    background-repeat: no-repeat;
    background-position-y: -40px;
    padding-top: 40px;
    padding-left: 60px;
}
.left-container .left-top h1{
   font-size: 50px;
   font-weight: 900;
   font-family: "Roboto";

} 
.left-container .left-top h3{
    font-size: 13px;
    font-weight: 400;
    font-family: "Roboto";
}
.left-container .left-top .btns{
    display: flex;
    gap: 30px;
    padding-top: 20px;
}
.left-container .left-top .btns .stbtn{
 background: #000;
 color: white;
 text-align: center;
 border: none;
 border-radius: 5px;
 width: 140px;
 height: 50px;
 font-size: 15px;
 font-weight: 500;
 font-family:  "Roboto";
 transition: all ease-in 0.2s;
}
.left-container .left-top .btns .stbtn:hover{
  transform: translateX(2px);
}
.left-container .left-top .btns .wvbtn{
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all ease 0.3s;
}
.left-container .left-top .btns .wvbtn:hover{
    transform: scale(1.1);
}
.left-bottom img{
    width: 400px;
    height: auto;
    padding-top: 20px;
    padding-right: 20px;

}
.right-container{
width: 50%; 
height: 100vh;
overflow: hidden;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}
.right-container .frame1{
    width: 400px;
    height: auto;
    position: absolute;
    top: 6%;
    right: 30%;
    z-index: 5;
}
.right-container .frame2{
    width: 400px;
    height: auto;
    z-index: 6;
    position: absolute;
    bottom: 5%;
    right: 30%;
}
.right-container .frame3{
    width: 400px;
    height: auto;
    z-index: 7;
    position: absolute;
    bottom: 25%;
    right: 40%;
}





